.FAQheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.Registrierungheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.Log_Inheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.Passwordcontainer{
    margin-bottom: 25px;
    margin-top: 25px;
}
.RegisterButton{
    margin-top: 25px;
}
.Impressumheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
/* Border soll links und rechts näher zum Content -> Border soll aussehen wie ein Handy ungefähr */
.ContainerImp{
    border: 10px solid green;


    
}
.TableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
   

}
.Row{
    display: flex;
    justify-content: center;
}
.Fotos{
    margin-top: 30px;
    padding: 10px;
    
  
}

/* noch nicht richtig */
@media screen and (max-width: 500px) {
    .Row {
      width: 100%;
    }
  }
