/* Global */
a{
  text-decoration: none !important;
}

/* General site layout */
.container-site{
  height: 100vh;
  background-color:rgb(60, 60, 60);
}
div.content-background{
  padding: 0% 0%; /* Gets expanded in media queries */
  background-color:rgb(60, 60, 60);
}
.site_content{
  background-color: white;
  padding: 0% 5%; /* Gets expanded in media queries */
}

/* Navbar */
.profile-icon > i{
  color: rgba(255,255,255,.55) !important
}
.profile-icon:hover > i{
  color: rgba(255,255,255,.75) !important
}
.profile-dropdown{  /* Dropdown would clip into right side of screen if without this */
  right: 0;
  left: unset !important;
}
a.dropdown-item:hover{
  background: rgba(0, 0, 0, .05);
}

.navbar_toggler{
  margin-left: 55px;  /* Centers menu toggle button that appears at mobile size */
}

@media screen and (min-width: 992px){  /* Point at which hotel logo jumps to middle of navbar */
  div[id="navbarNavDropdown"]{
    margin-left: 55px;  /* Main menu would otherwise be off-center */
  }
}
@media screen and (max-width: 575px){ /* When at sm: Mobile - These center the god damn menu button */
  div.navbar-brand{
    width: 50px;
    height: 40px;
    margin: 0px 0px !important;
  }
}

/* Footer */
footer ul{
  /* Overwriting some strange defaults */
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
footer li.footer-item{
  margin: 5px 1rem;
}

footer .text-follow-us{
  color:rgba(255,255,255,.90);
}
footer a{
  color: rgba(255,255,255,.55);
}
footer a:hover{
  color:rgba(255,255,255,.75);
}

/* idk if needed anymore */
.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}



.ContainerImp{
    box-sizing: border-box;
    width: 500px;
    height: 550px;
    border: 5px;
    border-style: double;
    background-color: ivory;
}
.TableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.Rowpictures{
    display: flex;
    justify-content: center;
}
.Fotos{
    margin-top: 50px;
    padding: 10px;
}

.Log-InContainer{
    display: flex;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    border: 5px solid rgb(112, 102, 102); 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    
}

.Sign-UpContainer{
  border: 5px solid grey;
  box-sizing: border-box;
  width: 500px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: bisque;
}

.OverallContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FAQ */
#RegistrierungFAQ{
  border: 3px solid grey;
}
#ZahlungsmethodeFAQ{
  border: 3px solid grey;
}
#Passwort_vergessenFAQ{
  border: 3px solid grey;
}
#RegistrierungbearbeitenFAQ{
  border: 3px solid grey;
}

/* Index */
header > a{
  text-decoration: none;
}

p.room_title{
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

a.btn_booking{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  color:rgb(187, 159, 0);
}
div.btn_booking{
  padding: 5px;
  border-style: solid;
  border-color:rgb(187, 159, 0);
  text-align: center;
}
div.btn_booking p{
  display: inline;
}

header.logo_bar{
  text-align: center;
}
header.logo_bar img{
  display: inline;
  margin: 5px 10px;
}
header.logo_bar p{
  font-family: var(--bs-font-sans-serif);
  display: inline;
  color: rgba(255,255,255,.90);
  font-size: 20px;
}

/* Booking */
table > tbody > tr > .bottom_border_none{
  border-bottom: none;
}

/* Media queries */

/* When larger than sm: Mobile */
@media screen and (min-width: 576px){
}

/* When larger than md: Tablet */
@media screen and (min-width: 768px){
  div.content-background{
    padding: 0% 15%;
  }
}

/* When larger than xl: Laptop/Desktop */
@media screen and (min-width: 1200px){
  div.content-background{
    padding: 0% 25%;
  }
}

@media screen and (max-width: 576px) {
    .OverallContainer {
        margin-left:30px;
        display: block;
        position: absolute;
    }
}