.FAQheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.Registrierungheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.Log_Inheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.Passwordcontainer{
    margin-bottom: 25px;
    margin-top: 25px;
}
.RegisterButton{
    margin-top: 25px;
}
